#paty {
    width: 450px;
}

body {
    background: linear-gradient(#34eba8 0%, #34dbeb 100%);
}

.menu {
    position: absolute;
    cursor: pointer;
    right: 30px;
}

.link {
    color: firebrick;
}

.link:hover {
  color:chartreuse;
}

body {
    font-family: 'Hanalei', cursive;

}
#contact{
    background:red;
    width: 100%;
}

